<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Form</title>
</head>
<body>
    <form th:fragment="personForm"
          th:action="@{${editMode} ? '/htmx/persons/update' : '/htmx/persons/create'}"
          th:attr="hx-post=@{${editMode} ? '/htmx/persons/update' : '/htmx/persons/create'}"
          hx-target="#persons-list"
          hx-swap="outerHTML"
          method="post">
        
        <input type="hidden" th:if="${editMode}" th:value="${person.id}" name="id"/>
        <input type="hidden" th:if="${editMode}" name="_method" value="put"/>
        <input type="hidden" name="page" th:value="${currentPage}"/>
        
        <h2 th:text="${editMode ? 'Edit' : 'Add'} + ' Person'"></h2>
        
        <fieldset>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" th:value="${person.firstName}" placeholder="First Name" required>
            
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" th:value="${person.lastName}" placeholder="Last Name" required>
            
            <label for="birthYear">Year of Birth</label>
            <input type="number" id="birthYear" name="birthYear" th:value="${person.birthYear}" placeholder="Year of birth" required>
        </fieldset>
        
        <menu>
            <button type="submit" th:text="${editMode ? 'Update' : 'Add'}"></button>
            <button type="button" onclick="document.getElementById('person-dialog').close()">Cancel</button>
        </menu>
    </form>
</body>
</html>
