service: bookstore
image: dmakariev/bookstore

servers:
  web:
    - 192.168.68.2
    - 192.168.68.3

ssh:
  user: ubuntu

proxy:
  ssl: false
  app_port: 80
  healthcheck:
    path: /actuator/health
    interval: 3    # Integer, seconds
    timeout: 40    # Integer, seconds

registry:
  server: "localhost:5555"
#   server: ghcr.io
#   username: $MY_GITHUB_USERNAME
#   password:
#     - MY_GITHUB_PAT  # Adjust based on your secrets setup

builder:
  arch:
    - arm64

env:
  clear:
    SERVER_PORT: "80"
    SPRING_DATASOURCE_URL: "jdbc:postgresql://192.168.68.5:5432/bookstore"  # Changed to match container name
    SPRING_DATASOURCE_USERNAME: "postgres"
    SPRING_DATASOURCE_PASSWORD: "bookstore"
    SPRING_H2_CONSOLE_ENABLED: "false"
    SPRING_SQL_INIT_PLATFORM: "postgresql"
    SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
    MANAGEMENT_TRACING_SAMPLING_PROBABILITY: "1.0"
    MANAGEMENT_TRACING_ENABLED: "true"
    MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: "http://192.168.68.4:9411/api/v2/spans"  # Updated to match container name

accessories:
  db:
    image: postgres:17
    host: 192.168.68.5
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: "bookstore"
        POSTGRES_PASSWORD: "bookstore"
    volumes:
      - bookstore-db-data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:9.2.0
    host: 192.168.68.4
    port: "5050:80"
    env:
      clear:
        PGADMIN_DEFAULT_EMAIL: "admin_not_used@user.com"
        PGADMIN_DEFAULT_PASSWORD: "admin_not_used"
        PGADMIN_CONFIG_SERVER_MODE: "False"
        PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    volumes:
      - bookstore-pgadmin:/var/lib/pgadmin
  zipkin:
    image: openzipkin/zipkin:3
    host: 192.168.68.4
    port: "9411:9411"

volumes:
  - bookstore-db-data
  - bookstore-pgadmin