global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http-in
    bind *:80
    mode http
    default_backend app-backend

backend app-backend
    mode http
    balance source  # Sticky sessions via source IP hashing
    server vm1 192.168.67.9:80 check
    server vm2 192.168.67.12:80 check
    
#Alternatively, for cookie-based stickiness
# backend app-backend
#     mode http
#     balance roundrobin
#     cookie SERVERID insert indirect nocache
#     server vm1 192.168.64.10:8080 cookie vm1 check
#     server vm2 192.168.64.11:8080 cookie vm2 check


